* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

.error-message {
  color: red;
}

.title-name {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.table-users {
  margin: 0 auto;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}

button {
  padding: 10px 15px;
  border: none;
  background-color: rgb(44, 44, 44);
  color: white;
  transition: 1s;
}

button:hover {
  transition: 1s;
  background-color: rgb(255, 255, 255);
  color: black;
  border: 1px solid rgb(0, 0, 0);
}

.number-pages {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin: 0 auto;
}

td {
  padding: 5px 10px;
  border: 1px dashed black;
}

.gif-loading {
  width: 300px;
}

.div-gif {
  display: flex;
  justify-content: center;
}